header {
    font-family: 'Bungee Spice';
    text-align: center;
}

main, footer {
    font-family: 'Albert Sans';
}

/*
Color scheme:

00DBAB
D9A602
0293D9
D97802
2D6884
245C50
*/

h1 {
    color: #00DBAB;
}

h2 {
    color: #2D6884;
    font-style: italic;
}

p {
    color: #0293D9;
}

li {
    color: #D97802;
}

footer {
    color: #245C50;
}

#personal_info {
    text-align: center;
    font-weight: bold;
}

#hobbies h2 {
    color: #00DBAB;
    background-color: #245C50;
}

#hobbies ul {
    background-color: #245C50;
    opacity: 0.8;
}

#photo-gallery {
    padding: 0;
    margin: 0;
    font-size: 40px;
}

#photo1 {
    background-color: #00DBAB;
    border: #245C50;
    padding: 20px;
    margin: 20px;
    border-width: 20px;
}

#photo2 {
    background-color: #0293D9;
    border: #2D6884;
    padding: 20px;
    margin: 20px;
    border-width: 20px;
}

#photo3 {
    background-color: #D97802;
    border: black;
    padding: 20px;
    margin: 20px;
    border-width: 20px;
}