/*
Color scheme:

00DBAB
D9A602
0293D9
D97802
2D6884
245C50
*/

/*
===================================
===== Used in multiple places =====
===================================
*/

main, footer {
    font-family: 'Albert Sans';
}

h1 {
    color: #00DBAB;
}

h2 {
    color: #2D6884;
    font-style: italic;
    margin: 0.05rem;
}

li {
    color: #D97802;
}

/*
=============================================================
===== Header (not a lot to see here because of nav.css) =====
=============================================================
*/

header {
    font-family: 'Bungee Spice';
    text-align: center;
}

.logo img {
    margin-right: 0.5rem;
}

/*
=======================
===== Bio/hobbies =====
=======================
*/

#personal_info {
    text-align: center;
    font-weight: bold;
    border: 0.5rem solid #00DBAB;
    border-radius: 0.5rem;
}

#personal_info img {
    max-width: 70%;
}

#hobbies {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

#hobbies h2 {
    color: #00DBAB;
    background-color: #245C50;
}

#hobbies ul {
    background-color: #245C50;
    opacity: 0.8;
}

/*
===================
===== Gallery =====
===================
*/

#gallery {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.photo {
    background-color: #00DBAB;
    border: solid #245C50;
    text-align: center;
}

.photo img {
    max-width: 70%;
}


/*
================
===== Blog =====
================
*/

#lit {
    border: 0.2rem solid #2D6884;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0.3rem 2rem;
}

#lit p:first-child:first-letter {
    color:#D97802;
    float:left;
    font-size:3rem;
    padding:1rem;
    margin-right:1rem;
    line-height:1rem;
    border: 0.15rem solid black;
}

/*
=================
===== Forms =====
=================
*/

#formElements {
    display: grid;
}

#formElements label {
    margin-bottom: 0.1rem;
    color: #245C50;
}

#formElements input, select, textarea {
    margin-bottom: 1rem;
    margin-right: auto;
    color: #2D6884;
}

#submit {
    font-size: 2rem;
    font-family: 'Bungee Spice';
}

/*
==================
===== Footer =====
==================
*/

footer {
    color: #245C50;
}

/*
========================
===== Media states =====
========================
*/

@media screen and (min-width: 60em) {
    /* Gallery */

    figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }
    
    figcaption {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 0.5rem;
    }
}

@media screen and (min-width: 100em) {
    /* Bio */

    #personal_info img {
        margin-left: 35rem;
        margin-right: 35rem;
    }

    /* Gallery */

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #gallery hr {
        display:none;
    }
    #gallery h2 {
        grid-column:1/-1;
    }
    #gallery img {
        max-width:100%;
    }
    #gallery figure {
        margin:0px;
    }

    /* Video */

    #video {
        margin-left: 10rem;
        margin-right: 10rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    #my_video {
        display: block;
        width: 100rem;
        height: auto;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        aspect-ratio: 16 / 9;
    }

    /* Footer */

    #copyright {
        border: 0.25rem solid #00DBAB;
        border-radius: 0.25rem;
        margin-right: 108rem;
        margin-top: 1rem;
    }
}